.cabeçalho_menu-hamburguer{
    width: 10px;
    height: 10px;
    background-image: url("../img/menu.svg");
    background-repeat:no-repeat ;
    background-position:center ;
    display: inline-block;


}
.cabeçalho{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
  }

.container_imagem{
   padding: 1em;
    width: 10vw;
  }

.lista-menu{
  display: none;
}
  
.lista-menu_item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu_titulo {
    color:var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color:black ;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao:checked ~ .lista-menu {
  display: block;
}


.container_botão {
  display: none;
}



